# Exclude files and directories from export (Composer, git archive)
/tests export-ignore
/phpunit.xml export-ignore
/run-tests.sh export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/phpstan.neon export-ignore
