name: CI
on: push

concurrency:
  # For pull requests, cancel all currently-running jobs for this workflow
  # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#concurrency
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  # Force terminal colors. @see https://www.npmjs.com/package/colors
  FORCE_COLOR: 1

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v4

    - name: Cache Composer dependencies
      uses: actions/cache@v4
      id: cache-composer
      with:
        path: |
          vendor
        key: composer-${{ hashFiles('composer.lock') }}

    - name: Install Composer dependencies
      if: steps.cache-composer.outputs.cache-hit != 'true'
      run: ./bin/composer install --quiet --no-interaction

    - name: PHP 7.2 Syntax check
      run: bin/php-syntax-check --php=7.2

    - name: PHP 7.3 Syntax check
      run: bin/php-syntax-check --php=7.3

    - name: PHP 7.4 Syntax check
      run: bin/php-syntax-check --php=7.4

    - name: PHP 8.0 Syntax check
      run: bin/php-syntax-check --php=8.0

    - name: PHP 8.1 Syntax check
      run: bin/php-syntax-check --php=8.1

    - name: PHP 8.2 Syntax check
      run: bin/php-syntax-check --php=8.2

    - name: PHP 8.3 Syntax check
      run: bin/php-syntax-check --php=8.3

    - name: PHP 8.4 Syntax check
      run: bin/php-syntax-check --php=8.4

    - name: Setup
      run: ./setup.sh

    - name: PHP CodeSniffer
      run: bin/phpcs

    - name: PHPStan
      run: bin/phpstan --no-progress --error-format=github

    - name: Run Tests
      run: bin/phpunit

